---
import MainLayout from "../layouts/MainLayout.astro";
import Header from "../components/Header.astro";
---

<MainLayout title="Andrey Rud Portfolio">
	<Header />

	<main class="pt-32">
		<section class="h-screen flex items-center justify-center">
			<h1 class="text-4xl font-semibold">
				Hero Section
			</h1>
		</section>
	</main>
</MainLayout>