---

---

<header class="fixed top-0 left-0 w-full z-50">
    <div class="max-w-325 mx-auto px-6 py-6 flex items-center justify-between">

        <!-- Logo -->
        <div class="tracking-[3px] font-medium text-3xl">
            ANDREY RUD
        </div>

        <!-- Center Glass Navigation -->
        <nav class="hidden md:flex items-center gap-12
                bg-white/60 backdrop-blur-xl
                px-10 py-4 rounded-full
                shadow-[0_8px_30px_rgba(0,0,0,0.08)]">

            <a href="#about" class="hover:opacity-60 transition">
                About Me
            </a>

            <a href="#education" class="hover:opacity-60 transition">
                Education
            </a>

            <a href="#projects" class="hover:opacity-60 transition">
                Projects
            </a>
        </nav>

        <!-- Contact Button -->
        <a href="#contact"
           class="flex items-center gap-3
              bg-black text-white
              px-6 py-3 rounded-full
              text-base font-medium leading-none
              hover:scale-105 transition">

            Contact Me

            <span class="bg-white text-black rounded-full w-6 h-6 flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg"
                     viewBox="0 0 24 24"
                     fill="none"
                     stroke="currentColor"
                     stroke-width="2.0"
                     stroke-linecap="round"
                     stroke-linejoin="round"
                     class="w-4 h-4">
                    <path d="M7 17L17 7"/>
                    <path d="M8 7h9v9"/>
                </svg>
</span>
        </a>

    </div>
</header>